button:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}

button:hover, button:active {
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}

button:active {
  --s: #0005;
  transition: none;
}

